accelerate==1.14.0+computecanada
annotated_doc==0.0.5+computecanada
annotated_types==0.8.0+computecanada
anyio==4.15.1+computecanada
attrs==26.1.0+computecanada
av==16.1.0+computecanada
certifi==2026.7.22+computecanada
click==8.5.0+computecanada
cloudpickle==3.1.2+computecanada
decord==0.6.0+computecanada
distro==1.9.0+computecanada
einops==0.8.2+computecanada
filelock==3.32.6+computecanada
fsspec==2026.7.0+computecanada
h11==0.16.0+computecanada
hf_transfer==0.1.9+computecanada
hf_xet==1.6.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==1.31.0+computecanada
idna==3.19+computecanada
imageio==2.37.4+computecanada
imageio_ffmpeg==0.6.0+computecanada
iniconfig==2.3.0+computecanada
jinja2==3.1.6+computecanada
jiter==0.11.1+computecanada
joblib==1.6.0+computecanada
jsonpatch==1.33+computecanada
jsonpointer==3.1.1+computecanada
jsonschema==4.26.0+computecanada
jsonschema_specifications==2025.9.1+computecanada
llguidance==1.7.0+computecanada
markdown_it_py==4.2.0+computecanada
markupsafe==3.0.3+computecanada
mdurl==0.1.2+computecanada
networkx==3.6.1+computecanada
openai==2.45.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
pluggy==1.6.0+computecanada
pydantic==2.13.4+computecanada
pydantic_core==2.46.4+computecanada
pytest==9.1.1+computecanada
pyyaml==6.0.3+computecanada
referencing==0.37.0+computecanada
regex==2026.1.15+computecanada
rich==15.0.0+computecanada
rpds_py==2026.6.3+computecanada
safetensors==0.8.0+computecanada
scikit_learn==1.8.0+computecanada
setuptools==84.0.0+computecanada
shellingham==1.5.4+computecanada
sniffio==1.3.1+computecanada
threadpoolctl==3.7.0+computecanada
timm==1.0.29+computecanada
tokenizers==0.22.2+computecanada
torch==2.14.0+computecanada
torchvision==0.29.0+computecanada
tqdm==4.70.1+computecanada
transformers==5.14.1+computecanada
typer==0.27.1+computecanada
typing_extensions==4.16.0+computecanada
typing_inspection==0.4.4+computecanada
vggt @ git+https://github.com/facebookresearch/vggt@a288dd0f14786c93483e45524328726ab7b1b4ce
